@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import 'rc-tooltip/assets/bootstrap.css';


@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@layer base {
    :root {
        --font-jost: 'Jost', sans-serif;
    }
}

@theme {
    --color-primary: #24A53D;
    --color-secondary: #FF9DA5;
    --color-blur: #C08430;
    --font-jost: 'Jost', sans-serif;
}